@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.sidebar {
  @apply pl-6 pt-12 pb-10 flex flex-col bg-light;
  position: fixed;
  width: 248px;
  height: 100%;
  left: 0px;
  top: 0px;
}

.page {
  position: absolute;
  width: calc(100% - 248px);
  right: 0px;
  top: 0px;
}